@import "bootstrap/dist/css/bootstrap.min.css";

body {
  background: white;
}
.casino-title {
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 4px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #d00000, #000000);
}
